<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>

    <title>Motif » Create beautiful images to share your content, in just a few clicks.</title>
    <meta name="description" content="The easiest, most useful Open Graph images you’ve ever seen, powered by imgix.">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <meta property="og:title" content="Motif » Create beautiful images to share your content, in just a few clicks.">
    <meta property="og:description" content="The easiest, most useful Open Graph images you’ve ever seen, powered by imgix.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="http://imgix-motif.herokuapp.com/i?url=http%3A%2F%2Fimgix-motif.herokuapp.com&amp;image_url=http%3A%2F%2Fassets.imgix.net%2Fog%2Fpuffs.jpg%3Fw%3D1200%26h%3D630%26fit%3Dcrop%26auto%3Denhance%26chromasub%3D444%26sat%3D2%26con%3D1%26crop%3Dtop%2Cright%26rot%3D1%26usm%3D15%26gam%3D5&amp;color=007294&amp;logo_url=https%3A%2F%2Flogo.clearbit.com%2Fimgix.com%3Fformat%3Dpng%26size%3D300&amp;logo_alignment=bottom%2Cleft&amp;text_alignment=top%2Cright&amp;logo_padding=0&amp;font_family=Avenir%20Next%20Demi%2CBold&amp;text_color=ffffff">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@imgix">
    <meta name="twitter:title" content="Motif » Create beautiful images to share your content, in just a few clicks.">
    <meta name="twitter:description" content="The easiest, most useful Open Graph images you’ve ever seen, powered by imgix.">
    <meta name="twitter:image" content="http://imgix-motif.herokuapp.com/i?url=http%3A%2F%2Fimgix-motif.herokuapp.com&amp;image_url=http%3A%2F%2Fassets.imgix.net%2Fog%2Fpuffs.jpg%3Fw%3D1200%26h%3D630%26fit%3Dcrop%26auto%3Denhance%26chromasub%3D444%26sat%3D2%26con%3D1%26crop%3Dtop%2Cright%26rot%3D1%26usm%3D15%26gam%3D5&amp;color=007294&amp;logo_url=https%3A%2F%2Flogo.clearbit.com%2Fimgix.com%3Fformat%3Dpng%26size%3D300&amp;logo_alignment=bottom%2Cleft&amp;text_alignment=top%2Cright&amp;logo_padding=0&amp;font_family=Avenir%20Next%20Demi%2CBold&amp;text_color=ffffff">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,500italic|Roboto+Slab:700|Pacifico:400" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= render 'global/primary_header' %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
